# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
@node_modules/
@node_modules
node_modules/
node_modules
.pnp
.pnp.js

# testing
coverage

# production

dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
node_modules/.package-lock.json
node_modules/.bin/acorn
node_modules/.bin/ansi-html
node_modules/.bin/atob
node_modules/.bin/autoprefixer
node_modules/.bin/browserslist
node_modules/.bin/css-blank-pseudo
node_modules/.bin/css-has-pseudo
node_modules/.bin/css-prefers-color-scheme
node_modules/.bin/cssesc
node_modules/.bin/detect
node_modules/.bin/detect-port
node_modules/.bin/detective
node_modules/.bin/ejs
node_modules/.bin/escodegen
node_modules/.bin/esgenerate
node_modules/.bin/eslint
node_modules/.bin/esparse
node_modules/.bin/esvalidate
node_modules/.bin/he
node_modules/.bin/html-minifier-terser
node_modules/.bin/import-local-fixture
node_modules/.bin/is-docker
node_modules/.bin/jake
node_modules/.bin/jest
node_modules/.bin/js-yaml
node_modules/.bin/jsesc
node_modules/.bin/json5
node_modules/.bin/loose-envify
node_modules/.bin/lz-string
node_modules/.bin/mime
node_modules/.bin/mkdirp
node_modules/.bin/multicast-dns
node_modules/.bin/nanoid
node_modules/.bin/node-which
node_modules/.bin/parser
node_modules/.bin/pbjs
node_modules/.bin/pbts
node_modules/.bin/proto-loader-gen-types
node_modules/.bin/react-scripts
node_modules/.bin/regjsparser
node_modules/.bin/resolve
node_modules/.bin/rimraf
node_modules/.bin/rollup
node_modules/.bin/semver
node_modules/.bin/svgo
node_modules/.bin/tailwind
node_modules/.bin/tailwindcss
node_modules/.bin/terser
node_modules/.bin/tsc
node_modules/.bin/tsserver
node_modules/.bin/uuid
node_modules/.bin/webpack
node_modules/.bin/webpack-dev-server
node_modules/.cache/.eslintcache
node_modules/.cache/default-development/0.pack
node_modules/.cache/default-development/1.pack
node_modules/.cache/default-development/index.pack
node_modules/.cache/default-development/index.pack.old
node_modules/@babel/core/node_modules/.bin/semver
node_modules/@babel/eslint-parser/node_modules/.bin/semver
node_modules/@babel/helper-compilation-targets/node_modules/.bin/semver
node_modules/@babel/helper-define-polyfill-provider/node_modules/.bin/semver
node_modules/@babel/plugin-transform-runtime/node_modules/.bin/semver
node_modules/@babel/preset-env/node_modules/.bin/semver
node_modules/@eslint/eslintrc/node_modules/.bin/js-yaml
node_modules/acorn-globals/node_modules/.bin/acorn
node_modules/acorn-node/node_modules/.bin/acorn
node_modules/babel-loader/node_modules/.bin/json5
node_modules/babel-plugin-polyfill-corejs2/node_modules/.bin/semver
node_modules/core-js-compat/node_modules/.bin/semver
node_modules/eslint/node_modules/.bin/js-yaml
node_modules/eslint/node_modules/.bin/js-yaml.cmd
node_modules/eslint/node_modules/.bin/js-yaml.ps1
node_modules/eslint-plugin-react/node_modules/.bin/semver
node_modules/global-prefix/node_modules/.bin/which
node_modules/istanbul-lib-instrument/node_modules/.bin/semver
node_modules/make-dir/node_modules/.bin/semver
node_modules/postcss-svgo/node_modules/.bin/svgo
node_modules/regjsparser/node_modules/.bin/jsesc
node_modules/regjsparser/node_modules/.bin/jsesc.cmd
node_modules/regjsparser/node_modules/.bin/jsesc.ps1
node_modules/tsconfig-paths/node_modules/.bin/json5
node_modules/.cache/.eslintcache
node_modules/.cache/default-development/0.pack
node_modules/.cache/default-development/1.pack
node_modules/.cache/default-development/2.pack
node_modules/.cache/default-development/3.pack
node_modules/.cache/default-development/4.pack
node_modules/.cache/default-development/5.pack
node_modules/.cache/default-development/6.pack
node_modules/.cache/default-development/7.pack
node_modules/.cache/default-development/8.pack
node_modules/.cache/default-development/index.pack
node_modules/.cache/default-development/index.pack.old
node_modules/.cache/.eslintcache
node_modules/.cache/default-development/0.pack
node_modules/.cache/default-development/1.pack
node_modules/.cache/default-development/2.pack
node_modules/.cache/default-development/3.pack
node_modules/.cache/default-development/4.pack
node_modules/.cache/default-development/5.pack
node_modules/.cache/default-development/6.pack
node_modules/.cache/default-development/8.pack
node_modules/.cache/default-development/9.pack
node_modules/.cache/default-development/10.pack
node_modules/.cache/default-development/11.pack
node_modules/.cache/default-development/12.pack
node_modules/.cache/default-development/13.pack
node_modules/.cache/default-development/14.pack
node_modules/.cache/default-development/index.pack
node_modules/.cache/default-development/index.pack.old
node_modules/.cache/.eslintcache
node_modules/.cache/.eslintcache
node_modules/.cache/default-development/0.pack
node_modules/.cache/default-development/index.pack
node_modules/.cache/default-development/index.pack.old
node_modules/.cache/.eslintcache
node_modules/.cache/default-development/0.pack
node_modules/.cache/default-development/1.pack
node_modules/.cache/default-development/index.pack
node_modules/.cache/default-development/index.pack.old
node_modules/.cache/.eslintcache
node_modules/.cache/default-development/0.pack
node_modules/.cache/default-development/1.pack
node_modules/.cache/default-development/2.pack
node_modules/.cache/default-development/3.pack
node_modules/.cache/default-development/4.pack
node_modules/.cache/default-development/5.pack
node_modules/.cache/default-development/6.pack
node_modules/.cache/default-development/7.pack
node_modules/.cache/default-development/8.pack
node_modules/.cache/default-development/9.pack
node_modules/.cache/default-development/10.pack
node_modules/.cache/default-development/11.pack
node_modules/.cache/default-development/12.pack
node_modules/.cache/default-development/13.pack
node_modules/.cache/default-development/index.pack
node_modules/.cache/default-development/index.pack.old
node_modules/.cache/.eslintcache
node_modules/.cache/default-development/0.pack
node_modules/.cache/default-development/1.pack
node_modules/.cache/default-development/2.pack
node_modules/.cache/default-development/3.pack
node_modules/.cache/default-development/4.pack
node_modules/.cache/default-development/5.pack
node_modules/.cache/default-development/6.pack
node_modules/.cache/default-development/7.pack
node_modules/.cache/default-development/8.pack
node_modules/.cache/default-development/9.pack
node_modules/.cache/default-development/10.pack
node_modules/.cache/default-development/11.pack
node_modules/.cache/default-development/12.pack
node_modules/.cache/default-development/13.pack
node_modules/.cache/default-development/index.pack
node_modules/.cache/default-development/index.pack.old
node_modules/.cache/.eslintcache
node_modules/.cache/default-development/0.pack
node_modules/.cache/default-development/1.pack
node_modules/.cache/default-development/2.pack
node_modules/.cache/default-development/3.pack
node_modules/.cache/default-development/4.pack
node_modules/.cache/default-development/5.pack
node_modules/.cache/default-development/6.pack
node_modules/.cache/default-development/7.pack
node_modules/.cache/default-development/8.pack
node_modules/.cache/default-development/9.pack
node_modules/.cache/default-development/10.pack
node_modules/.cache/default-development/index.pack
node_modules/.cache/default-development/index.pack.old
package-lock.json
package.json
node_modules/.package-lock.json
node_modules/.bin/acorn
node_modules/.bin/ansi-html
node_modules/.bin/atob
node_modules/.bin/autoprefixer
node_modules/.bin/browserslist
node_modules/.bin/css-blank-pseudo
node_modules/.bin/css-has-pseudo
node_modules/.bin/css-prefers-color-scheme
node_modules/.bin/cssesc
node_modules/.bin/detect
node_modules/.bin/detect-port
node_modules/.bin/detective
node_modules/.bin/ejs
node_modules/.bin/escodegen
node_modules/.bin/esgenerate
node_modules/.bin/eslint
node_modules/.bin/esparse
node_modules/.bin/esvalidate
node_modules/.bin/he
node_modules/.bin/html-minifier-terser
.gitignore
node_modules/.cache/.eslintcache
node_modules/.cache/default-development/0.pack
node_modules/.cache/default-development/1.pack
node_modules/.cache/default-development/2.pack
node_modules/.cache/default-development/3.pack
node_modules/.cache/default-development/4.pack
node_modules/.cache/default-development/12.pack
node_modules/.cache/default-development/index.pack
node_modules/.cache/default-development/index.pack.old
node_modules/.bin/acorn
node_modules/.bin/ansi-html
node_modules/.bin/atob
node_modules/.bin/autoprefixer
node_modules/.bin/browserslist
node_modules/.bin/css-blank-pseudo
node_modules/.bin/css-has-pseudo
node_modules/.bin/css-prefers-color-scheme
node_modules/.bin/cssesc
node_modules/.bin/detect
node_modules/.bin/detect-port
node_modules/.bin/detective
node_modules/.bin/ejs
node_modules/.bin/escodegen
node_modules/.bin/esgenerate
node_modules/.bin/eslint
node_modules/.bin/esparse
node_modules/.bin/esvalidate
node_modules/.bin/he
node_modules/.bin/html-minifier-terser
node_modules/.bin/import-local-fixture
node_modules/.bin/is-docker
node_modules/.bin/jake
node_modules/.bin/jest
node_modules/.bin/js-yaml
node_modules/.bin/jsesc
node_modules/.bin/json5
node_modules/.bin/loose-envify
node_modules/.bin/lz-string
node_modules/.bin/mime
node_modules/.bin/mkdirp
node_modules/.bin/multicast-dns
node_modules/.bin/nanoid
node_modules/.bin/node-which
node_modules/.bin/parser
node_modules/.bin/pbjs
node_modules/.bin/pbts
node_modules/.bin/proto-loader-gen-types
node_modules/.bin/react-scripts
node_modules/.bin/regjsparser
node_modules/.bin/resolve
node_modules/.bin/rimraf
node_modules/.bin/rollup
node_modules/.bin/semver
node_modules/.bin/svgo
node_modules/.bin/tailwind
node_modules/.bin/tailwindcss
node_modules/.bin/terser
node_modules/.bin/tsc
node_modules/.bin/tsserver
node_modules/.bin/uuid
node_modules/.bin/webpack
node_modules/.bin/webpack-dev-server
node_modules/@babel/core/node_modules/.bin/semver
node_modules/@babel/eslint-parser/node_modules/.bin/semver
node_modules/@babel/helper-compilation-targets/node_modules/.bin/semver
node_modules/@babel/helper-define-polyfill-provider/node_modules/.bin/semver
node_modules/@babel/plugin-transform-runtime/node_modules/.bin/semver
node_modules/@babel/preset-env/node_modules/.bin/semver
node_modules/@eslint/eslintrc/node_modules/.bin/js-yaml
node_modules/acorn-globals/node_modules/.bin/acorn
node_modules/acorn-node/node_modules/.bin/acorn
node_modules/babel-loader/node_modules/.bin/json5
node_modules/babel-plugin-polyfill-corejs2/node_modules/.bin/semver
node_modules/core-js-compat/node_modules/.bin/semver
node_modules/eslint/node_modules/.bin/js-yaml
node_modules/eslint/node_modules/.bin/js-yaml.cmd
node_modules/eslint/node_modules/.bin/js-yaml.ps1
node_modules/eslint-plugin-react/node_modules/.bin/semver
node_modules/global-prefix/node_modules/.bin/which
node_modules/istanbul-lib-instrument/node_modules/.bin/semver
node_modules/make-dir/node_modules/.bin/semver
node_modules/postcss-svgo/node_modules/.bin/svgo
node_modules/regjsparser/node_modules/.bin/jsesc
node_modules/regjsparser/node_modules/.bin/jsesc.cmd
node_modules/regjsparser/node_modules/.bin/jsesc.ps1
node_modules/tsconfig-paths/node_modules/.bin/json5
node_modules/.bin/acorn
node_modules/.bin/ansi-html
node_modules/.bin/atob
node_modules/.bin/autoprefixer
node_modules/.bin/browserslist
node_modules/.bin/css-blank-pseudo
node_modules/.bin/css-has-pseudo
node_modules/.bin/css-prefers-color-scheme
node_modules/.bin/cssesc
node_modules/.bin/detect
node_modules/.bin/detect-port
node_modules/.bin/detective
node_modules/.bin/ejs
node_modules/.bin/escodegen
node_modules/.bin/esgenerate
node_modules/.bin/eslint
node_modules/.bin/esparse
node_modules/.bin/esvalidate
node_modules/.bin/he
node_modules/.bin/html-minifier-terser
node_modules/.bin/import-local-fixture
node_modules/.bin/is-docker
node_modules/.bin/jake
node_modules/.bin/jest
node_modules/.bin/js-yaml
node_modules/.bin/jsesc
node_modules/.bin/json5
node_modules/.bin/loose-envify
node_modules/.bin/lz-string
node_modules/.bin/mime
node_modules/.bin/mkdirp
node_modules/.bin/multicast-dns
node_modules/.bin/nanoid
node_modules/.bin/node-which
node_modules/.bin/parser
node_modules/.bin/pbjs
node_modules/.bin/pbts
node_modules/.bin/proto-loader-gen-types
node_modules/.bin/react-scripts
node_modules/.bin/regjsparser
node_modules/.bin/resolve
node_modules/.bin/rimraf
node_modules/.bin/rollup
node_modules/.bin/semver
node_modules/.bin/svgo
node_modules/.bin/tailwind
node_modules/.bin/tailwindcss
node_modules/.bin/terser
node_modules/.bin/tsc
node_modules/.bin/tsserver
node_modules/.bin/uuid
node_modules/.bin/webpack
node_modules/.bin/webpack-dev-server
node_modules/@babel/core/node_modules/.bin/semver
node_modules/@babel/eslint-parser/node_modules/.bin/semver
node_modules/@babel/helper-compilation-targets/node_modules/.bin/semver
node_modules/@babel/helper-define-polyfill-provider/node_modules/.bin/semver
node_modules/@babel/plugin-transform-runtime/node_modules/.bin/semver
node_modules/@babel/preset-env/node_modules/.bin/semver
node_modules/@eslint/eslintrc/node_modules/.bin/js-yaml
node_modules/acorn-globals/node_modules/.bin/acorn
node_modules/acorn-node/node_modules/.bin/acorn
node_modules/babel-loader/node_modules/.bin/json5
node_modules/babel-plugin-polyfill-corejs2/node_modules/.bin/semver
node_modules/core-js-compat/node_modules/.bin/semver
node_modules/eslint/node_modules/.bin/js-yaml
node_modules/eslint/node_modules/.bin/js-yaml.cmd
node_modules/eslint/node_modules/.bin/js-yaml.ps1
node_modules/eslint-plugin-react/node_modules/.bin/semver
node_modules/global-prefix/node_modules/.bin/which
node_modules/istanbul-lib-instrument/node_modules/.bin/semver
node_modules/make-dir/node_modules/.bin/semver
node_modules/postcss-svgo/node_modules/.bin/svgo
node_modules/regjsparser/node_modules/.bin/jsesc
node_modules/regjsparser/node_modules/.bin/jsesc.cmd
node_modules/regjsparser/node_modules/.bin/jsesc.ps1
node_modules/tsconfig-paths/node_modules/.bin/json5
node_modules/.package-lock.json
