.App {
  color: var(--text-primary);
  background-color: var(--background);
  transition: all 0.5s;
}
.DarkModeButton {
  background-color: var(--background);
  transition: all 0.5s;
  padding: 0%;
  display: inline-block;
}
.dark-mode-icon {
  width: 20%;
}
