.App {
  color: var(--text-primary);
  background-color: var(--background);
  padding: 20px;
  transition: all 0.5s;
}
.DarkModeButton {
  background-color: var(--background);
  float: right;
  transition: all 0.5s;
}
.dark-mode-icon {
  width: 60%;
}
