/* ---------- ROOTS ---------- */
:root {
  --green: rgb(38, 76, 89);
  --light-green: rgb(172, 198, 201);
  --light-grey: #f1f1f4;
  --txt-clr-l: #f1f1f1;
  --txt-clr-d: #333;
  --txt-clr-danger: rgb(152, 58, 58);

  --white: #f1f1f1;
  --black: #232323;
  --blue-d: #080053;
  --blue-m: #52b1e1;
  --blue-l: #c7f4ff;
  --yellow: #ffc662;
  --yellow-l: #ffd895;

  --border-r: 10px;

  --font-main: "montserrat", sans-serif;
  --font-header: "filson soft", sans-serif;
}

[data-theme="dark"] {
  --background: black;
  --text-primary: white;
  --text-secondary: grey;
  --accent: darkred;
}

body {
  color: var(--txt-clr-d);
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

main {
  padding: 58px 0 0;
  background-color: var(--white);
}

h1 {
  font-size: 2em;
  font-weight: 500;
  letter-spacing: 0.1px;
  text-align: center;
}

h2 {
  font-weight: 500;
  letter-spacing: 0.1px;
}

h3 {
  font-weight: 500;
  letter-spacing: 0.1px;
}

a {
  color: var(--green);
}

.page {
  background-color: var(--white);
  min-height: calc(100vh - 58px - 2em);
  padding: 1em;
  padding-bottom: 100px;
}

.text-center {
  text-align: center;
}
.text-error {
  color: var(--txt-clr-danger);
}

.text-error:first-letter {
  text-transform: uppercase;
}

/* ---------- LOGO ---------- */
.logo {
  font-family: "Filson Soft", sans-serif;
  text-transform: uppercase;
}

.logo span {
  font-weight: bold;
}

/* ---------- TOPBAR ---------- */
.top-bar {
  width: 100%;
  height: 20px;
  padding: 5px 10px;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  background-color: var(--blue-d);
  color: var(--txt-clr-l);
  text-transform: uppercase;
}

.top-bar h2 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}

/* ---------- WELCOMECARD ---------- */
.welcome-card {
  margin-bottom: 10px;
  padding: 10px;
  transition: 0.5s;
  display: flex;
  flex-direction: row;
  background-color: var(--blue-l);
  border-radius: var(--border-r);
  border: solid #52b1e1 2px;
}

.welcome-userimg {
  height: auto;
  padding: 10px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.welcome-userimg .user-img img {
  max-width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  border: solid var(--blue-m) 2px;
}

.welcome-msg {
  width: 100%;
  margin-bottom: 10px;
  padding: 20px 10px 5px 10px;
}

.welcome-msg h2 {
  margin: 0px 0px 10px 0px;
}

.welcome-msg p {
  margin: 0;
}

/* ---------- SIGNIN / SIGNUP ---------- */
.signin-cntr {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.signin-form {
  margin: auto;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  text-align: center;
  padding: 1em 1em 2em;
  background-color: var(--white);
  max-width: 350px;
  animation: fadeIn 0.5s;
}

.signin-form .signin-btn {
  padding: 12px 15px;
  font-size: 14px;
  width: 100%;
  max-width: 350px;
}

.signin-btn {
  font-weight: 300;
  text-align: center;
  cursor: pointer;
  border: none;
  color: var(--txt-clr-l);
  background-color: var(--green);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 0.5em 1em;
  font-size: 10px;
  display: block;
  margin: 1em auto 0;
}

/* ---------- ANIMATIONS ---------- */
/* fade in */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* ---------- NAV ---------- */
nav {
  background-color: var(--blue-d);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 100;
}

nav a {
  display: inline-block;
  color: var(--txt-clr-l);
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

nav a:hover {
  background-color: var(--light-grey);
  color: var(--txt-clr-d);
}

nav a.active {
  background-color: var(--blue-d);
  color: var(--blue-m);
}

/* ---------- TASKS CNTR ---------- */
.group-cntr {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  border: solid var(--blue-m) 2px;
  border-radius: var(--border-r);
}

.group-cntr > article {
  min-height: 55px;
  margin: 0px;
  padding: 5px 10px;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  background-color: var(--white);
  transition: 0.5s;
  animation: fadeIn 0.5s;
  cursor: pointer;
}

.group-cntr > article h2,
p {
  margin: 15px 0px 0px 0px;
}

.group-cntr > article:nth-child(2n) {
  background-color: var(--blue-l);
}

.group-cntr > article:first-child {
  border-top-left-radius: var(--border-r);
  border-top-right-radius: var(--border-r);
}

.group-cntr > article:last-child {
  border-bottom-left-radius: var(--border-r);
  border-bottom-right-radius: var(--border-r);
}

/* ---------- GRID CNTR ---------- */
.grid-container {
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
}

.outer-cntr {
  display: flex;
  flex-direction: column;
}

.cntr-title {
  margin: 0;
  padding: 30px 0px 5px 0px;
  text-transform: uppercase;
}

@media (min-width: 600px) {
  .grid-container {
    flex-direction: column;
  }
}

@media (min-width: 992px) {
  .grid-container {
    flex-direction: row;
    /* justify-content: space-between; */
  }
  .outer-cntr {
    width: 45%;
  }
}

/* .grid-container > article img {
  width: 100%;
  height: 200px;
  object-fit: cover;
} */

.PostCard_cntr {
  border: solid #4e27fd 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* --- checkbox todo styling  --- */

/* UPDATE BUTTON STYLING */

.update {
  display: contents;
  padding: 5px 12px;
  font-size: 1em;
  width: 30%;
  max-width: 350px;
}

/* DELETE BUTTON STYLING */

.checkbox_delete_container {
  width: 30%;
  height: 30%;
  margin: 0 auto;
}

#checkbox_delete {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 20%;
  margin: 0 auto;
  opacity: 0;
  z-index: 3;
}

#bin-icon {
  position: relative;
  top: 100%;
  right: 0;
  left: 0;
  width: 42px;
  height: 58px;
  margin: 40px auto 0 auto;
  border-radius: 50%;
  z-index: 2;
}

#lid {
  position: relative;
  width: 25px;
  height: 2px;
  left: 0px;
  border-radius: 4px;
}

#lid:before {
  content: "";
  position: absolute;
  top: -4px;
  right: 0;
  left: 0;
  width: 10px;
  height: 6px;
  margin: 0 auto;
  border-radius: 10px 10px 0 0;
}

#box {
  position: relative;
  height: 34px;
  width: 24px;
  margin-top: 2px;
  border-radius: 0 0 8px 8px;
}

#box-inner {
  position: relative;
  top: 3px;
  width: 20px;
  height: 28px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 0 0 6px 6px;
}

#bin-lines {
  background-color: #fff;
  position: relative;
  top: 5px;
  margin: 0 auto;
}

#bin-lines,
#bin-lines:before,
#bin-lines:after {
  width: 2px;
  height: 18px;
  border-radius: 4px;
}

#bin-lines:before,
#bin-lines:after {
  content: "";
  position: absolute;
}

#bin-lines:before {
  left: -7px;
}

#bin-lines:after {
  left: 7px;
}

#lid,
#lid:before,
#box,
#bin-lines,
#bin-lines:before,
#bin-lines:after {
  background-color: #f44336;
  transition: 0.2s ease background-color;
}

#checkbox_delete:checked ~ #bin-icon #lid,
#checkbox_delete:checked ~ #bin-icon #lid:before,
#checkbox_delete:checked ~ #bin-icon #box,
#checkbox_delete:checked ~ #bin-icon #box-inner {
  background-color: #fff;
}

#checkbox_delete:checked ~ #bin-icon #bin-lines,
#checkbox_delete:checked ~ #bin-icon #bin-lines:before,
#checkbox_delete:checked ~ #bin-icon #bin-lines:after {
  background-color: #03a9f4;
}

#checkbox_delete:checked + #bin-icon #box {
  animation: shake 0.2s ease 0.1s;
}

#checkbox_delete:checked + #bin-icon #lid {
  animation: lift-up 0.8s ease 0.1s, shake_u 0.8s ease 0.1s,
    shake_l 0.2s ease 0.8s;
}

@keyframes shake {
  0% {
    transform: rotateZ(3deg);
  }
  25% {
    transform: rotateZ(0);
  }
  75% {
    transform: rotateZ(-3deg);
  }
  100% {
    transform: rotateZ(0);
  }
}

@keyframes lift-up {
  0% {
    top: 0;
  }
  50% {
    top: -35px;
  }
  100% {
    top: 0;
  }
}

@keyframes shake_u {
  0% {
    transform: rotateZ(0);
  }
  25% {
    transform: rotateZ(-15deg);
  }
  50% {
    transform: rotateZ(0deg);
  }
  75% {
    transform: rotateZ(15deg);
  }
  100% {
    transform: rotateZ(0);
  }
}

@keyframes shake_l {
  0% {
    transform: rotateZ(0);
  }
  80% {
    transform: rotateZ(3deg);
  }
  90% {
    transform: rotateZ(-3deg);
  }
  100% {
    transform: rotateZ(0);
  }
}

/* --- Calendar componenet styling */

.react-calendar:active {
  display: block;
}

.react-calendar__navigation {
  display: flex;
}
.react-calendar button:active {
  color: orange;
}

/* ---------- FORM ---------- */
form {
  margin: auto;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  text-align: center;
  padding: 1em 1em 2em;
  background-color: var(--white);
  max-width: 380px;
  animation: fadeIn 0.5s;
}

form button {
  padding: 12px 15px;
  font-size: 1em;
  width: 100%;
  max-width: 350px;
}

button {
  font-weight: 300;
  text-align: center;
  cursor: pointer;
  border: none;
  color: var(--txt-clr-l);
  background-color: var(--green);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 0.5em 1em;
  font-size: 0.8em;
  display: block;
  margin: 1em auto 0;
}

button.btn-outline {
  background-color: var(--light-green);
  color: var(--green);
  border: solid 2px var(--green);
}

.btn-sign-out {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  font-size: 0.7em;
  padding: 2.032em 1em;
}

input {
  margin: 1em auto;
  width: 100%;
  max-width: 350px;
  padding: 1em;
  box-sizing: border-box;
  display: block;
  background: var(--white);
  border: solid 2px var(--green);
}

select {
  margin: 1em auto;
  width: 100%;
  max-width: 350px;
  padding: 1em;
  box-sizing: border-box;
  display: block;
  background: var(--white);
  border: solid 2px var(--green);
}

.image-preview {
  width: 100%;
  max-width: 350px;
  height: 200px;
  object-fit: cover;
  margin: auto;
  display: block;
  cursor: pointer;
}

form .file-input {
  display: none;
}

/* ---------- LOADER ---------- */
.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 99999999;
  overflow: hidden;
  background: var(--loader-background-color);
  text-align: center;
}

.spinner {
  border: 5px solid var(--light-green);
  border-radius: 50%;
  border-top: 5px solid var(--green);
  width: 50px;
  height: 50px;
  -webkit-animation: spin 1s linear infinite;
  /* Safari */
  animation: spin 1s linear infinite;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.4s, opacity 0.4s linear;
}

.avatar {
  display: flex;
  align-items: center;
  margin: 0 0 1.2em;
  text-align: left;
}

.avatar span {
  margin: 0 0 0 1em;
}

.avatar h3,
.avatar p {
  margin: 0;
}

article .avatar img {
  max-width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

/* ---------- PROFILE ---------- */
.profile-avatar {
  margin-bottom: 20px;
}

.profile-page .user-img img {
  max-width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  border: solid rgb(125, 168, 182) 2px;
}

.profile-page input {
  margin: 5px;
  width: 100%;
  max-width: 350px;
  padding: 1em;
  box-sizing: border-box;
  display: block;
  background: var(--white);
  color: var(--blue-m);
  border: solid 2px var(--blue-m);
  border-radius: 5px;
}

.profile-page form label {
  text-align: left;
}

.group-members-box {
  border: solid red 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.group-members-box .user-img img {
  border: solid var(--blue-m) 2px;
  max-width: 25px;
  height: 25px;
  object-fit: cover;
  border-radius: 50%;
}

.group-members-details {
  border: solid green 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.group-members-details input {
  margin: 5px;
  width: 45%;
  max-width: 350px;
  padding: 1em;
  box-sizing: border-box;
  display: block;
  background: var(--white);
  color: var(--blue-m);
  border: solid 2px var(--blue-m);
  border-radius: var(5px);
}

.remove-btn {
  height: 12px;
  width: 13px;
  padding: 0px;
  margin: 0px;
  /* border: solid var(--blue-d) 1px; */
  border-radius: 50%;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  color: var(--txt-clr-l);
  background-color: var(--blue-d);
  text-transform: uppercase;
  cursor: pointer;
}

.invite-btn {
  width: 25%;
  float: right;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: var(--blue-d);
  background-color: var(--yellow);
  text-transform: uppercase;
  padding: 5px 10px;
  font-size: 10px;
  margin: 5px 20px;
}

.invite-btn svg {
  width: auto;
  height: 10px;
  margin-right: 5px;
}

.invite-btn svg path {
  fill: var(--blue-d);
}
