/* ---------- ROOTS ---------- */
:root {
  --green: rgb(38, 76, 89);
  --light-green: rgb(172, 198, 201);
  --light-grey: #f1f1f4;
  --txt-clr-l: #f1f1f1;
  --txt-clr-d: #333;
  --txt-clr-danger: rgb(152, 58, 58);

  --white: #f1f1f1;
  --black: #232323;
  --blue-d: #080053;
  --blue-m: #52B1E1;
  --blue-l: #C7F4FF;
  --yellow: #FFC662;
  --yellow-l: #FFD895;

  --border-r: 10px;

  --font-main: 'dita', sans-serif;
  --font-header: 'filson soft', sans-serif;
}

[data-theme="dark"] {
  --background: black;
  --text-primary: white;
  --text-secondary: grey;
  --accent: darkred;
}

body {
  color: var(--txt-clr-d);
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

main {
  padding: 58px 0 0;
  background-color: var(--light-green);
}

h1 {
  font-size: 2em;
  font-weight: 500;
  letter-spacing: 0.1px;
  text-align: center;
}

h2 {
  font-weight: 500;
  letter-spacing: 0.1px;
}

h3 {
  font-weight: 500;
  letter-spacing: 0.1px;
}

a {
  color: var(--green);
}

.page {
  background-color: var(--light-green);
  min-height: calc(100vh - 58px - 2em);
  padding: 1em;
}

.text-center {
  text-align: center;
}
.text-error {
  color: var(--txt-clr-danger);
}

.text-error:first-letter {
  text-transform: uppercase;
}


/* ---------- LOGO ---------- */
.logo {
  font-family: "Filson Soft", sans-serif;
  text-transform: uppercase;
}

.logo span {
  font-weight: bold;
}


/* ---------- TOPBAR ---------- */
.top-bar {
  width: 100%;
  height: 20px;
  padding: 5px 10px;
  top: 0;
  left: 0;
  right:  0;
  position: fixed;
  background-color: var(--green);
  color: var(--txt-clr-l);
  text-transform: uppercase;
}

.top-bar h2 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}


/* ---------- WELCOMECARD ---------- */
.welcome-card {
  margin-bottom: 10px;
  padding: 10px;
  transition: 0.5s;
  display: flex;
  flex-direction: row;
  background-color: var(--white);
  border-radius: var(--border-r);
}

.welcome-userimg {
  height: auto;
  padding: 10px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.welcome-userimg .user-img img {
  max-width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  border: solid rgb(125, 168, 182) 2px;
}

.welcome-msg {
  width: 100%;
  margin-bottom: 10px;
  padding: 20px 10px 5px 10px;
}

.welcome-msg h2 {
  margin: 0px 0px 10px 0px;
}

.welcome-msg p {
  margin: 0;
}

/* ---------- SIGNIN / SIGNUP ---------- */
.signin-cntr {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.signin-form {
  margin: auto;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  text-align: center;
  padding: 1em 1em 2em;
  background-color: var(--white);
  width: 350px;
  animation: fadeIn 0.5s;
}

.signin-form .signin-btn {
  padding: 12px 15px;
  font-size: 14px;
  width: 100%;
  max-width: 350px;
}

.signin-btn {
  font-weight: 300;
  text-align: center;
  cursor: pointer;
  border: none;
  color: var(--txt-clr-l);
  background-color: var(--green);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 0.5em 1em;
  font-size: 10px;
  display: block;
  margin: 1em auto 0;
}


/* ---------- ANIMATIONS ---------- */
/* fade in */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* ---------- NAV ---------- */
nav {
  background-color: var(--green);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

nav a {
  display: inline-block;
  color: var(--txt-clr-l);
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

nav a:hover {
  background-color: var(--light-grey);
  color: var(--txt-clr-d);
}

nav a.active {
  background-color: var(--light-green);
  color: var(--green);
}

/* ---------- TASKS CNTR ---------- */
.group-cntr { 
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  border: solid #7da8b6 2px;
  border-radius: var(--border-r);
}

.group-cntr > article {
  min-height: 55px;
  margin: 0px;
  padding: 5px 10px;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  background-color: var(--white);
  transition: 0.5s;
  animation: fadeIn 0.5s;
  cursor: pointer;
}

.group-cntr > article h2, p {
  margin: 15px 0px 0px 0px;
}

.group-cntr > article:nth-child(2n) {
  background-color: rgb(125, 168, 182);
}

.group-cntr > article:first-child {
  border-top-left-radius: var(--border-r);
  border-top-right-radius: var(--border-r);
}

.group-cntr > article:last-child {
  border-bottom-left-radius: var(--border-r);
  border-bottom-right-radius: var(--border-r);
}


/* ---------- GRID CNTR ---------- */
.grid-container {
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
}


.outer-cntr {
  display: flex;
  flex-direction: column;
}

.cntr-title {
  margin: 0;
  padding: 30px 0px 5px 0px;
  text-transform: uppercase;
}

@media (min-width: 600px) {
  .grid-container {
    flex-direction: column;
  }
}

@media (min-width: 992px) {
  .grid-container {
    flex-direction: row;
    /* justify-content: space-between; */
  }
  .outer-cntr {
    width: 45%;
  }
}

/* .grid-container > article img {
  width: 100%;
  height: 200px;
  object-fit: cover;
} */

.PostCard_cntr {
  border: solid #4e27fd 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* --- checkbox todo styling  --- */
.task_div {
  display: inline-block;
  z-index: 0;
}

.postcard-elem-checkbox {
  border: solid blue 1px;
  height: 100%;
  width: 25px;
  display: flex;
  justify-content: center;
}

.postcard-elem-todotext {
  border: solid blue 1px;
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: center;
}

.postcard-elem-updatebtn {
  border: solid blue 1px;
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
}

.checkbox_div {
  border: solid green 1px;
  height: 25px;
  width: 100%;
  margin-top: 12px;
}

.todo-text {
  border: solid red 1px;
  width: 100%;
  margin: 0;
  padding: 12px 5px;
}

.todo-text h3 {
  margin: 0;
  padding: 0;
}

.update {
  border: solid purple 1px;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: right;
} 

.update button {
  height: 45px;
  width: auto;
  padding: 0;
  margin: 4px 0px 0px 0px;
  font-weight: 300;
  text-align: center;
  cursor: pointer;
  border: none;
  color: #000;
  background-color: #52B1E1;
  text-transform: uppercase;
}


.todo-list {
  font-size: 20px;
  max-width: 20em;
  padding-left: 0.5em;
  margin: auto;
}
.todo {
  display: block;
  position: relative;
  padding: 1em 1em 1em 16%;
  margin: 0 auto;
  cursor: pointer;
  border-bottom: solid 1px #ddd;
}
.todo:last-child {
  border-bottom: none;
}
.todo__state {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.group-cntr article h3 {
  position: absolute;
  text-align: left;
  /* padding-left: 10%; */
}
.todo__icon {
  z-index: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  margin: auto;
  fill: none;
  stroke: #4e27fd;
  stroke-width: 2;
  stroke-linejoin: round;
  stroke-linecap: round;
}
.todo__line,
.todo__box,
.todo__check {
  transition: stroke-dashoffset 0.8s cubic-bezier(0.9, 0, 0.5, 1);
}
.todo__circle {
  stroke: #4e27fd;
  stroke-dasharray: 1 6;
  stroke-width: 0;
  transform-origin: 13.5px 12.5px;
  transform: scale(0.4) rotate(0deg);
  -webkit-animation: none 0.8s linear;
  animation: none 0.8s linear;
}
@-webkit-keyframes explode {
  30% {
    stroke-width: 3;
    stroke-opacity: 1;
    transform: scale(0.8) rotate(40deg);
  }
  100% {
    stroke-width: 0;
    stroke-opacity: 0;
    transform: scale(1.1) rotate(60deg);
  }
}
@keyframes explode {
  30% {
    stroke-width: 3;
    stroke-opacity: 1;
    transform: scale(0.8) rotate(40deg);
  }
  100% {
    stroke-width: 0;
    stroke-opacity: 0;
    transform: scale(1.1) rotate(60deg);
  }
}
.todo__box {
  z-index: -1;
  stroke-dasharray: 56.1053, 56.1053;
  stroke-dashoffset: 0;
  transition-delay: 0.16s;
}
.todo__check {
  stroke: #27fdc7;
  stroke-dasharray: 9.8995, 9.8995;
  stroke-dashoffset: 9.8995;
  transition-duration: 0.32s;
}
.todo__line {
  stroke-dasharray: 168, 1684;
  stroke-dashoffset: 168;
}
.todo__circle {
  -webkit-animation-delay: 0.56s;
  animation-delay: 0.56s;
  -webkit-animation-duration: 0.56s;
  animation-duration: 0.56s;
}
.todo__state:checked ~ .todo__text {
  transition-delay: 0s;
  color: #5ebec1;
  opacity: 0.6;
}
.todo__state:checked ~ .todo__icon .todo__box {
  stroke-dashoffset: 56.1053;
  transition-delay: 0s;
}
.todo__state:checked ~ .todo__icon .todo__line {
  stroke-dashoffset: -8;
}
.todo__state:checked ~ .todo__icon .todo__check {
  stroke-dashoffset: 0;
  transition-delay: 0.48s;
}
.todo__state:checked ~ .todo__icon .todo__circle {
  -webkit-animation-name: explode;
  animation-name: explode;
}

/* UPDATE BUTTON STYLING */

/* .update button {
  display: contents;
  padding: 5px 12px;
  font-size: 1em;
  width: 30%;
  max-width: 350px;
} */

/* --- Calendar componenet styling */

.react-calendar:active {
  display: block;
}

.react-calendar__navigation {
  display: flex;
}
.react-calendar button:active {
  color: orange;
}

/* ---------- FORM ---------- */
form {
  margin: auto;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  text-align: center;
  padding: 1em 1em 2em;
  background-color: var(--white);
  max-width: 380px;
  animation: fadeIn 0.5s;
}

form button {
  padding: 12px 15px;
  font-size: 1em;
  width: 100%;
  max-width: 350px;
}

button {
  font-weight: 300;
  text-align: center;
  cursor: pointer;
  border: none;
  color: var(--txt-clr-l);
  background-color: var(--green);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 0.5em 1em;
  font-size: 0.8em;
  display: block;
  margin: 1em auto 0;
}

button.btn-outline {
  background-color: var(--light-green);
  color: var(--green);
  border: solid 2px var(--green);
}

.btn-sign-out {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  font-size: 0.7em;
  padding: 2.032em 1em;
}

input {
  margin: 1em auto;
  width: 100%;
  max-width: 350px;
  padding: 1em;
  box-sizing: border-box;
  display: block;
  background: var(--white);
  border: solid 2px var(--green);
}

select {
  margin: 1em auto;
  width: 100%;
  max-width: 350px;
  padding: 1em;
  box-sizing: border-box;
  display: block;
  background: var(--white);
  border: solid 2px var(--green);
}

.image-preview {
  width: 100%;
  max-width: 350px;
  height: 200px;
  object-fit: cover;
  margin: auto;
  display: block;
  cursor: pointer;
}

form .file-input {
  display: none;
}

/* ---------- LOADER ---------- */
.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 99999999;
  overflow: hidden;
  background: var(--loader-background-color);
  text-align: center;
}

.spinner {
  border: 5px solid var(--light-green);
  border-radius: 50%;
  border-top: 5px solid var(--green);
  width: 50px;
  height: 50px;
  -webkit-animation: spin 1s linear infinite;
  /* Safari */
  animation: spin 1s linear infinite;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.4s, opacity 0.4s linear;
}

.avatar {
  display: flex;
  align-items: center;
  margin: 0 0 1.2em;
  text-align: left;
}

.avatar span {
  margin: 0 0 0 1em;
}

.avatar h3,
.avatar p {
  margin: 0;
}

article .avatar img {
  max-width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}


/* ---------- PROFILE ---------- */
.profile-avatar {
  margin-bottom: 20px;
}

.profile-page .user-img img {
  max-width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  border: solid rgb(125, 168, 182) 2px;
}

.profile-page form label {
  text-align: left;
}
